
@{
    ViewBag.Title = "Home";
}


<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/chil-labour.jpeg" alt="Labour" width="1100" height="350">
        </div>
        <div class="carousel-item">
            <img src="~/Content/dowry.jpg" alt="Dowry" width="1100" height="350">
        </div>
        <div class="carousel-item">
            <img src="~/Content/drive-care.jpg" alt="Drive" width="1100" height="350">
        </div>
        

    </div>

    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<br />

<section>
    <div class="container p-2">
        <div class="row">
            <h2><b>ABOUT THE PORTAL</b></h2>
            <p><b>
                The Portal has been designed for reporting complaints by users. They can report complaints here indicating issues or problems faced by them in day-to-day life. It has been designed in a manner that the user can explain issues faced and upload details where they faced the problem, for quick redressal of grievances.
             </b> </p>
        </div>
    </div>
</section>



